* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/Diesell.jpeg);
  background-size: 400px;

}

.form-register {
  width: 400px;
  background: #e93f3f;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
}

.controls {
  width: 100%;
  background: #e93f3f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.form-register p {
  height: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 12px;
  color: #e93f3f;
  margin: 16px 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
::placeholder {
  color: rgba(255, 255, 255, 0.621);
  font-size: 17px;
  text-transform: uppercase;
}